{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_head %}
    <title>{{ 'fastOrder.fastOrder' | trans }} - {{ 'fastOrder.multipleProductsAtOnce' | trans }}</title>
    {{ parent() }}
{% endblock %}

{% block base_content %}
    <div class="mw-765-i">
        <h2>{{ 'fastOrder.enterArticles' | trans }}</h2>

        <span>
            {{ 'fastOrder.infoTextMultipleProducts' | trans }}
        </span>

        <form action="{{ path('frontend.fast_order_process') }}" method="post" data-form-csrf-handler="true">
            <div class="d-flex flex-row mb-3 mt-lg-5 space-between">
                <div class="font-weight-bold articles-numbers mr-5 d-block w-100 nav-tabs pb-2">
                    {{ 'fastOrder.article' | trans }}
                </div>
                <div class="font-weight-bold quantity-articles d-block w-100 nav-tabs pb-2">
                    {{ 'fastOrder.quantity' | trans }}
                </div>
            </div>
            {% for i in 0..9 %}
                <div class="d-flex flex-row mt-3 space-between">
                    <input type="text" placeholder="{{ 'fastOrder.insertArticleNumber' | trans }}..."
                           id="article-number-{{ i }}" name="article-number-{{ i }}"
                           data-i="{{ i }}" data-price=""
                           class="form-control articles-numbers-fields articles-numbers mr-5 d-block" />
                    <input type="number" pattern="[0-9]*" min="0" placeholder="{{ 'fastOrder.quantity' | trans }}"
                           inputmode="numeric" data-i="{{ i }}"
                           id="quantity-article-{{ i }}" name="quantity-article-{{ i }}"
                           class="form-control quantity-articles-fields quantity-articles d-block" autocomplete="off"
                           oninput="if(!/^\d+$/.test(this.value)) this.value = '';" />
                </div>

                <div id="row-{{ i }}" class="d-flex flex-row mt-1 mb-2 space-between hide-i">
                    <div class="articles-numbers mr-5 d-block w-100 pb-2 red">
                        <span id="product-not-available-{{ i }}">
                            {{ 'fastOrder.productNotAvailable' | trans }}
                        </span>
                    </div>
                    <div id="price-row-{{ i }}" class="font-weight-bold quantity-articles d-block w-100 pb-2 d-flex flex-row flex-end hide-i">
                        <span>€</span>
                        <span id="price-{{ i }}" class="all-prices">0</span>
                    </div>
                </div>

            {% endfor %}

            <div class="d-flex flex-row mt-1 mb-2 w-100 flex-end">
                {{ 'fastOrder.totalAmount' | trans }}: <span class="font-weight-bold">€</span> <span class="font-weight-bold" id="total-amount">0</span>
            </div>

            {{ sw_csrf('frontend.fast_order_process') }}

            <input type="submit" value="Add to shopping list" class="btn btn-primary" name="add_fast_order"/>
        </form>
    </div>
{% endblock %}
