@import 'abstract/variables.scss';

.articles-numbers {
    max-width: $w-500px-i;
}

.quantity-articles {
    max-width: $w-200px-i;
}

.mw-750-i {
    max-width: $w-750px-i;
}

.mw-765-i {
    max-width: $w-765px-i;
}

.space-between {
    justify-content: space-between;
}

.flex-end {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.red {
    color: #e52427;
}

.hide {
    display: none;
}

.hide-i {
    display: none !important;
}
