{% sw_extends '@Storefront/storefront/layout/header/header.html.twig' %}

{% block layout_header_actions_account %}
    <div class="col-auto">
        <button class="btn header-actions-btn"
                type="button"
                id="fastOrder"
                title="{{ 'fastOrder.fastOrder' | trans }}"
                onclick="window.location.href='{{ path('frontend.fast_order') }}'">
            {% sw_icon 'products' %}
        </button>
    </div>

    {{ parent() }}
{% endblock %}
